.git/
.expo/
node_modules/

.DS_Store
._*
*.log

coverage/
dist/
build/
web-build/
.cache/
tmp/
temp/

android/.gradle/
android/build/
android/app/build/
android/.cxx/
android/local.properties

ios/build/
ios/Pods/
ios/DerivedData/

.vscode/
.idea/

eas-archive/
